language: node_js
cache:
  yarn: true
notifications:
  email: true
node_js:
- 6
- 7
- 8

before_script: yarn lint
script: yarn cover -- --ci
after_success: if [[ $TRAVIS_NODE_VERSION == "8" ]]; then yarn codecov; fi

branches:
  except:
  - /^v\d+\.\d+\.\d+$/

deploy:
  provider: npm
  email: uma.karimov@gmail.com
  api_key:
    secure: is/zoIt28QNNOp94msSGsVZGUUrbvSpzIDMltwVZeq2XR2PbGfl+WWxYzXfJTDw3SCw7Je6qHwaN1QRvzoXfJgCEWEOamcGnP7WM+NrMBk4RGhCn3V3xJ9q6xlZdZQnZ460mrMYv12IpchK2RJtDZNjcW+M3vb90qp1x0/4+TCtc4m8sUu4BCMT/TnrruPt8uxDtjuYAhIXAK1XpJti1BnKUGHbElpgO5H62QuObe4oCpjb4gkOoE6ZpBktlVwxYQYYy2d0kyw9kELvcmxh6/sEJoJCIggbA+bQqozPt8uF40zGrAaUVB9hcJ+0GEh8WPwQJ2dbwXzXupcZAXt0Qb+JksrZR+Z1QkjjUZ/DkhQ1jC4CERYnsh9YIQiCbAyd3bnSe32TVQvsDiol6AnPjZjTrwMPep+Ogg2MkIMy8Bgs1lWq+DOloyP0kVu1zoPZZ4Fv4X3rc3RNz43ng9qAsl3o+WbZ2npLw+vlD8REvOIMMpHy+zsoo3j6+NSVbqjzmJXSkDGcXPsnsKNIN4ym4XKoS2yazAuB07S7vzyaMwxfrfGHVRHjCPyspxxAl1qm9fp1et/W0oDHIlJIcpw7jOB/QSA3UL9PQz9KxEaRW7lxNdZg9ToJC8BkrBae4hXBygDt77QPK3+30rCNHan8zWwKY0o+HM8Tz1m+yT5z5gww=
  on:
    tags: false
    branch: master
    repo: umidbekkarimov/babel-plugin-direct-import
    condition: $TRAVIS_NODE_VERSION = 8
